@charset "utf-8";
/* CSS Document */

body { }

#container_global { text-align: left; z-index:1;}
#container_fixed { position:fixed; top: 30px; width: 1200px; height: 200px; z-index: 200;}
/*header { height: 200px; margin: 10px auto 10px; border: solid 1px;}*/
nav { margin: 10px auto 10px;  border: solid 1px;}

.container_each { position: absolute; left:0; z-index:100; /*background-image: url("../src/ptn.png"); background-repeat : repeat;*/}
.container_each_in { position: relative;  margin: 200px auto 0; border: solid 1px; }

#about {background-color:black;}
#works {background-color:blue;}
#members {background-color:red;}
